{% extends 'base.html' %}
{% block content %}
<body>
<table  class="table table-bordered table-hover" style="width:70%">
    <thead>
    <tr>
        <th style='text-align: center;'>id</th>
        <th style='text-align: center;'>posted</th>
        <th style='text-align: center;'>description</th>
        <th style='text-align: center;'>location</th>
    </tr>
    </thead>
    <tbody>
    {% for v in vacancies %}

    <tr >
        <td style="width:20%" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            {% if user.is_authenticated %}
            <input type="submit" value="edit" class="btn btn-primary" onclick="window.location.href='/vacancies/edit/{{v.id}}';"/>
            {% else %}
            <input type="submit" value="edit" class="btn btn-primary" onclick="window.location.href='/vacancies/login';"/>
            {% endif %}
            <!--<input type="submit" value="edit" class="btn btn-primary" onclick="window.location.href='/vacancies/login';"/>-->
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ v.id }}</td>
        <td style="width:10%" align="center">{{ v.posted }}</td>
        <td style="width:60%">{{ v.description }}</td>
        <td style="width:10%" align="center">{{ v.location }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

</body>
{% endblock %}
